<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rice predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header class="bg-dark text-light p-3 shadow-lg">
        <h1 class="text-center">
            Classification of Rice Varieties Using Artificial Intelligence Methods.
        </h1>
    </header>

    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body" id="result-container">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="min-height: 80vh">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link text-center w-50" id="nav-profile-tab" data-toggle="tab" href="#nav-form" role="tab" aria-controls="nav-profile" aria-selected="false">Form</a>
                        <a class="nav-item nav-link text-center w-50" id="nav-contact-tab" data-toggle="tab" href="#nav-csv" role="tab" aria-controls="nav-contact" aria-selected="false">.CSV</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-form" role="tabpanel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <!--  -->
                                    <!-- <h1 class="text-center text-info">Enter infomation</h1> -->
                                    <form class="shadow-lg p-5" action="predict" method="POST" id="frm" novalidate>
                                        <div class="row">
                                            <div class="col-6">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="txtArea">Area
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtArea" aria-describedby="emailHelp" name="txtArea">
                                                    <small id="arenaHelp" class="form-text text-muted">Returns the number of pixels within the boundaries of the rice grain.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtPerimeter">Perimeter
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtPerimeter" name="txtPerimeter">
                                                    <small id="arenaHelp" class="form-text text-muted">Calculates the circumference  by calculating the distance between pixels  around the boundaries of the rice grain.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtMajorAxisLength">Major Axis Length
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtMajorAxisLength" name="txtMajorAxisLength">
                                                    <small id="arenaHelp" class="form-text text-muted">The longest line that  can be drawn on the
                                        rice grain,
                                        i.e. the main axis distance, gives.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtMinorAxisLength">Minor Axis Length
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtMinorAxisLength" name="txtMinorAxisLength">
                                                    <small id="arenaHelp" class="form-text text-muted">The shortest line that can be drawn on the rice grain, i.e. the small axis distance, gives.</small>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="txtEccentricity">Eccentricity
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtEccentricity" name="txtEccentricity">
                                                    <small id="arenaHelp" class="form-text text-muted">It measures how round the ellipse, which has
                                                    the same
                                                    moments as the rice grain, is.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtConvexArea">
                                                        Convex Area
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtConvexArea" name="txtConvexArea">
                                                    <small id="arenaHelp" class="form-text text-muted">Returns the pixel count of the smallest
                                                    convex shell
                                                    of the region formed by the rice grain.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtExtent">
                                                        Extent
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtExtent" name="txtExtent">
                                                    <small id="arenaHelp" class="form-text text-muted">Returns the ratio of the regionformed by the rice grain to the bounding box pixels.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="reset" class="btn btn-secondary form-control">Reset</button>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-primary form-control btn-api" data-toggle="modal" data-target="#modalCenter">Predict</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-csv" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <h1 class="text-center text-info">Predict from .csv file</h1>
                                    <form action="predict_csv" method="POST" name="frmPredictCSV" id="frmPredictCSV" class="shadow-lg p-5 form-inline" enctype="multipart/form-data">
                                        <div class="row w-100">
                                            <div class="col-6">
                                                {% csrf_token %}
                                                <label for="fXTest" class="custom-file-label w-100">File csv</label>
                                                <input type="file" class="custom-file-input" name="fXTest" />
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-primary form-control w-100 btn-api">Predict</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="row">
                                <a href="#" class="btn btn-success btn-download d-block m-5 ml-auto w-25 disabled" download>
                                    <i class="fas fa-download"></i>
                                </a>
                                <div class="col-12 overflow-auto" style="height: 40vh;">
                                    <table class="table w-100 table-striped table-hover" id="csv-predict-field">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Area</th>
                                                <th>Perimeter</th>
                                                <th>Major Axis Length</th>
                                                <th>Minor Axis Length</th>
                                                <th>Eccentricity</th>
                                                <th>Convex Area</th>
                                                <th>Extent</th>
                                                <th>Class</th>
                                            </tr>
                                        </thead>
                                        <tbody class="result-csv overflow-auto">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="bg-dark text-light p-3 text-center">Power by Bootstrap4, JQuery, Django</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $('small').addClass('invisible');
            $('.btn-detail').click(function() {
                $(this).parent().siblings('small')
                    .toggleClass('invisible');
            });


            $('#frm button[type="reset"]').click(function() {
                $('#frm input')
                    .removeClass('is-valid')
                    .removeClass('is-invalid');
            });

            $('#frm .btn-api').click(function(event) {
                /*let x = {
                    txtArea: $('#txtArea').val(),
                    txtPerimeter: $('#txtPerimeter').val(),
                    txtMajorAxisLength: $('#txtMajorAxisLength').val(),
                    txtMinorAxisLength: $('#txtMinorAxisLength').val(),
                    txtEccentricity: $('#txtEccentricity').val(),
                    txtConvexArea: $('#txtConvexArea').val(),
                    txtExtent: $('#txtExtent').val(),
                }*/
                let txtArea = $('#txtArea').val();
                let txtPerimeter = $('#txtPerimeter').val();
                let txtMajorAxisLength = $('#txtMajorAxisLength').val();
                let txtMinorAxisLength = $('#txtMinorAxisLength').val();
                let txtEccentricity = $('#txtEccentricity').val();
                let txtConvexArea = $('#txtConvexArea').val();
                let txtExtent = $('#txtExtent').val();

                $.each($('#frm input'), function() {
                    let val = $(this).val();
                    console.log(val)
                    if (val.length === 0 || isNaN(val)) {
                        console.log('sai');
                        $(this).removeClass('is-valid').addClass('is-invalid');
                    } else {
                        console.log('dung');
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                });

                if (txtArea.length == 0 || txtPerimeter.length == 0 || txtMajorAxisLength.length == 0 ||
                    txtMinorAxisLength.length == 0 || txtEccentricity.length == 0 ||
                    txtConvexArea.length == 0 || txtExtent.length == 0) {
                    $('#result-container').html(
                        `<div class="alert alert-warning text-center" role="alert">
                            Vui lòng điền đầy đủ thông tin
                        </div>`
                    );
                    return;
                }
                $.get(
                    `/predict?txtArea=${txtArea}&txtPerimeter=${txtPerimeter}&txtMajorAxisLength=${txtMajorAxisLength}&txtMinorAxisLength=${txtMinorAxisLength}&txtEccentricity=${txtEccentricity}&txtConvexArea=${txtConvexArea}&txtExtent=${txtExtent}`,
                    function(data, status) {
                        console.log(data);
                        $('#result-container').html(
                            `<div class="alert alert-success text-center" role="alert">
                                ${data}
                            </div>`
                        );

                    }
                );
            });

            $('#csv-predict-field').hide();
            $('.btn-download').hide();

            $('#frmPredictCSV .btn-api').click(function() {
                let fd = new FormData($('#frmPredictCSV')[0]);
                let file = $('#frmPredictCSV input[type="file"]')[0].files[0];
                $.ajax({
                    url: 'predict_csv',
                    type: "post",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function(res) {
                        $('#csv-predict-field').toggle();
                        $('.btn-download')
                            //.show()
                            .attr('href', `/download/${res.path}`)
                            .removeClass('disabled');
                        console.log(res)
                        $('.result-csv').empty();
                        for (let row of res.rows) {
                            $('.result-csv').append(
                                `<tr>
                                    <td>${row.AREA}</td>
                                    <td>${row.PERIMETER}</td>
                                    <td>${row.MAJORAXIS}</td>
                                    <td>${row.MINORAXIS}</td>
                                    <td>${row.ECCENTRICITY}</td>
                                    <td>${row.CONVEX_AREA}</td>
                                    <td>${row.EXTENT}</td>
                                    <td>${row.CLASS}</td>
                                        
                                </tr>`
                            );
                        }
                    }
                });
            });

            $('.btn-predict').click(function() {
                $('.btn-download').removeClass('disabled');
            });

            $('form[name="frmPredictCSV"]').submit(function(event) {
                let fileField = $('input[name="fXTest"]');
                let fileName = fileField.val();
                let validExtensions = ['csv'];
                let fileExtension = fileName.split('.').slice(-1)[0];
                if (!validExtensions.includes(fileExtension) || fileName.length === 0) {
                    event.preventDefault();
                    fileField.siblings('label').css('outline', 'solid 1px red');
                } else {
                    fileField.siblings('label').css('outline', 'none 1px red');
                }
            });

            $('input[name="fXTest"]').change(function() {
                let sep = "/";
                if ($(this).val().includes('\\')) sep = '\\';
                $(this).siblings('label').html($(this).val().split(sep).slice(-1));
            });
        });
    </script>

</body>

</html>