<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rice predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header class="bg-dark text-light p-3 shadow-lg">
        <h1 class="text-center">
            Classification of Rice Varieties Using Artificial Intelligence Methods
        </h1>
    </header>

    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body" id="result-container">
                    {% comment %} ... {% endcomment %}
                    <div class="spinner-border"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="min-height: 80vh">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link text-center w-50 active" id="nav-profile-tab" data-toggle="tab" href="#nav-form" role="tab" aria-controls="nav-profile" aria-selected="false">Form</a>
                        <a class="nav-item nav-link text-center w-50" id="nav-contact-tab" data-toggle="tab" href="#nav-csv" role="tab" aria-controls="nav-contact" aria-selected="false">.CSV</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-form" role="tabpanel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <!--  -->
                                    <!-- <h1 class="text-center text-info">Enter infomation</h1> -->
                                    <form class="shadow-lg p-5" action="predict_rice" method="POST" id="frm" novalidate>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="area">Area
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="area" aria-describedby="emailHelp" name="area">
                                                    <small id="arenaHelp" class="form-text text-muted">Returns the number of pixels within the boundaries of the rice grain.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="perimeter">Perimeter
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="perimeter" name="perimeter">
                                                    <small id="arenaHelp" class="form-text text-muted">Calculates the circumference  by calculating the distance between pixels  around the boundaries of the rice grain.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="majoraxis">Major Axis Length
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="majoraxis" name="majoraxis">
                                                    <small id="arenaHelp" class="form-text text-muted">The longest line that  can be drawn on the
                                        rice grain,
                                        i.e. the main axis distance, gives.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="minoraxis">Minor Axis Length
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="minoraxis" name="minoraxis">
                                                    <small id="arenaHelp" class="form-text text-muted">The shortest line that can be drawn on the rice grain, i.e. the small axis distance, gives.</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtEccentricity">Eccentricity
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="txtEccentricity" name="txtEccentricity">
                                                    <small id="arenaHelp" class="form-text text-muted">It measures how round the ellipse, which has
                                                    the same
                                                    moments as the rice grain, is.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="convexarea">
                                                        Convex Area
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="convexarea" name="convexarea">
                                                    <small id="arenaHelp" class="form-text text-muted">Returns the pixel count of the smallest
                                                    convex shell
                                                    of the region formed by the rice grain.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="extent">
                                                        Extent
                                                        <i class="fas fa-question-circle btn-detail"></i>
                                                    </label>
                                                    <input type="text" class="form-control" id="extent" name="extent">
                                                    <small id="arenaHelp" class="form-text text-muted">Returns the ratio of the regionformed by the rice grain to the bounding box pixels.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="reset" class="btn btn-secondary form-control">Reset</button>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-primary form-control btn-api" data-toggle="modal" data-target="#modalCenter">Predict</button> {% comment %} <button class="btn btn-primary form-control btn-api" data-toggle="modal"
                                                    data-target="#modalCenter">Predict</button> {% endcomment %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-csv" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <h1 class="text-center text-info">Predict from .csv file</h1>
                                    <form action="predict_csv" method="POST" name="frmPredictCSV" id="frmPredictCSV" class="shadow-lg p-5 form-inline" enctype="multipart/form-data">
                                        <div class="row w-100">
                                            <div class="col-6">
                                                {% csrf_token %}
                                                <label for="fXTest" class="custom-file-label form-control w-100">File csv</label>
                                                <input type="file" class="custom-file-input" name="fXTest" id="fXTest" accept=".csv" />
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-primary form-control w-100 btn-api">Predict</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                        <div class="container-fuild">
                            <div class="row result-row">
                                <a href="#" class="btn btn-success btn-download d-block m-5 ml-auto w-25 disabled" download>
                                    <i class="fas fa-download"></i>
                                </a>
                                <div class="col-12 overflow-auto" style="height: 40vh;">
                                    <table class="table w-100 table-striped table-hover" id="csv-predict-field">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Area</th>
                                                <th>Perimeter</th>
                                                <th>Major Axis Length</th>
                                                <th>Minor Axis Length</th>
                                                <th>Eccentricity</th>
                                                <th>Convex Area</th>
                                                <th>Extent</th>
                                                <th>Class</th>
                                            </tr>
                                        </thead>
                                        <tbody class="result-csv overflow-auto">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="bg-dark text-light p-3 text-center">Power by Bootstrap4, JQuery, Django</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <script>
        $(function() {
            $('small').addClass('invisible');
            $('.btn-detail').click(function() {
                $(this).parent().siblings('small')
                    .toggleClass('invisible');
            });


            $('#frm button[type="reset"]').click(function() {
                $('#frm input')
                    .removeClass('is-valid')
                    .removeClass('is-invalid');
            });


            $('#frm .btn-api').click(function(event) {
                let area = $('#area').val();
                let perimeter = $('#perimeter').val();
                let majoraxis = $('#majoraxis').val();
                let minoraxis = $('#minoraxis').val();
                let txtEccentricity = $('#txtEccentricity').val();
                let convexarea = $('#convexarea').val();
                let extent = $('#extent').val();

                $.each($('#frm input'), function() {
                    let val = $(this).val();
                    console.log(val)
                    if (val.length === 0 || isNaN(val)) {
                        $(this).removeClass('is-valid').addClass('is-invalid');
                    } else {
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                });

                if (area.length == 0 || perimeter.length == 0 || majoraxis.length == 0 ||
                    minoraxis.length == 0 || txtEccentricity.length == 0 ||
                    convexarea.length == 0 || extent.length == 0) {
                    $('#result-container').html(
                        `<div class="alert alert-warning text-center" role="alert">
                            Vui lòng điền đầy đủ thông tin
                        </div>`
                    );
                    return;
                }
                $.get(
                    `/predict_rice?format=json&area=${area}&perimeter=${perimeter}&majoraxis=${majoraxis}&minoraxis=${minoraxis}&eccentricity=${txtEccentricity}&convexarea=${convexarea}&extent=${extent}`,
                    function(data, status) {
                        console.log(data);
                        $('#result-container').html(
                            `<div class="alert alert-success text-center" role="alert">
                                ${data.label}
                            </div>`
                        );

                    }
                );
            });
            //
            $('#frmPredictCSV .btn-api').click(function(event) {
                let fd = new FormData($('#frmPredictCSV')[0]);
                let resultContent = '';
                const spinner = $('<div class="spinner-border"></div>');
                const download = $('<i class="fas fa-download"></i>');
                $('.btn-download').html(spinner);
                $.ajax({
                    url: 'predict_csv',
                    type: 'post',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function(res) {
                        console.log(res);
                        $('.btn-download').html(download);
                        let rows = Array.from(res.rows);
                        //console.log(rows.length);

                        //rows = rows.slice(0, -1);
                        //return;
                        for (let row of rows) {
                            resultContent += `<tr>`;
                            resultContent += `<td>${row.AREA}</td>`;
                            resultContent += `<td>${row.PERIMETER}</td>`;
                            resultContent += `<td>${row.MAJORAXIS}</td>`;
                            resultContent += `<td>${row.MINORAXIS}</td>`;
                            resultContent += `<td>${row.ECCENTRICITY}</td>`;
                            resultContent += `<td>${row.CONVEX_AREA}</td>`;
                            resultContent += `<td>${row.EXTENT}</td>`;
                            resultContent += `<td>${row.CLASS}</td>`;
                            resultContent += `</tr>`;

                        }

                        $('.result-csv').html(resultContent);
                        $('#csv-predict-field').show();
                        $('.btn-download')
                            .attr('href', `download/${res.path}`)
                            .removeClass('disabled');
                        //console.log(resultContent);
                    }
                });

            });

            $('#csv-predict-field').hide();
            $('.btn-download').hide();

            /*
            // Old
            $('#frmPredictCSV .btn-api').click(async function() {
                console.log('bugforfun');
                
                $('.btn-download').html(spinner);
                Papa.parse($('#frmPredictCSV #fXTest')[0].files[0], {
                    download: true,
                    header: false,
                    complete: async function(result) {
                        // Remote title of .csv file
                        $('.btn-download').html(download);
                        $('#csv-predict-field').toggle();
                        const data = Array.from(result.data).slice(1, -1);
                        let classes = [];
                        let tbodyContent = '';

                        let areas = [];
                        let perimeters = [];
                        let majorAxisLengths = [];
                        let minorAxisLengths = [];
                        let eccentricitys = [];
                        let convexAreas = [];
                        let extents = [];
                        for (let row of data) {
                            areas.push(row[0]);
                            perimeters.push(row[1]);
                            majorAxisLengths.push(row[2]);
                            minorAxisLengths.push(row[3]);
                            eccentricitys.push(row[4]);
                            convexAreas.push(row[5]);
                            extents.push(row[6]);
                        }
                        let response = await axios.get(
                            `/predict_rice?format=json&area=${areas.join(',')}&perimeter=${perimeters.join(',')}&majoraxis=${majorAxisLengths.join(',')}&minoraxis=${minorAxisLengths.join(',')}&eccentricity=${eccentricitys.join(',')}&convexarea=${convexAreas.join(',')}&extent=${extents.join(',')}`
                        );
                        console.log(response)
                        classes = response.data.label;
                        let i = 0;
                        for (let row of data) {
                            $('.result-csv').append(
                                `<tr>
                                    <td>${row[0]}</td>
                                    <td>${row[1]}</td>
                                    <td>${row[2]}</td>
                                    <td>${row[3]}</td>
                                    <td>${row[4]}</td>
                                    <td>${row[5]}</td>
                                    <td>${row[6]}</td>
                                    <td>${classes[i++]}</td>
                                </tr>`
                            );
                        }

                    }
                });
            });
            */

            $('.btn-predict').click(function() {
                $('.btn-download').removeClass('disabled');
            });

            $('form[name="frmPredictCSV"]').submit(function(event) {
                let fileField = $('input[name="fXTest"]');
                let fileName = fileField.val();
                let validExtensions = ['csv'];
                let fileExtension = fileName.split('.').slice(-1)[0];
                if (!validExtensions.includes(fileExtension) || fileName.length === 0) {
                    event.preventDefault();
                    fileField.siblings('label').css('outline', 'solid 1px red');
                } else {
                    fileField.siblings('label').css('outline', 'none 1px red');
                }
            });

            // Change file name place holder when re-choose predict file
            $('input[name="fXTest"]').change(function() {
                let sep = "/";
                if ($(this).val().includes('\\')) sep = '\\';
                $(this).siblings('label').html($(this).val().split(sep).slice(-1));
            });
        });
    </script>

</body>

</html>